<!DOCTYPE html>
<html lang="en">
<head>
    <title>Optimal power time calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2vw;
    background-color: #f0f0f0;
}

.stats {
    display: block;
    justify-content: space-between;
    margin: 3vw;
    padding: 1vw;
    border-radius: 10px;
    border: 2px solid grey;
}

    </style>
</head>

<body>

{% for optimal_time in optimal_times %}
<div class="stats">
    <div>
        <strong>Appliance:</strong> <span id="name">{{ optimal_time.name }}</span>
    </div>
    <div>
        <strong>From:</strong> <span id="from_dt">{{ optimal_time.from_dt | date:"Y-m-d H:i:s"}}</span>
    </div>
    <div>
        <strong>To:</strong> <span id="to_dt">{{ optimal_time.to_dt | date:"Y-m-d H:i:s"}}</span>
    </div>
    <div>
        <strong>Average price:</strong> <span id="price">{{ optimal_time.price | floatformat:3}} kW</span>
    </div>
    <div>
        <strong>Suboptimal Price Multiplier:</strong> <span id="suboptimal_price_multiplier">{{ optimal_time.suboptimal_price_multiplier | floatformat:3}}</span>
    </div>
</div>
{% endfor %}

</body>


</html>
