<!DOCTYPE html>
<html lang="en">
<head>
    <title>Optimal power time calculator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: block;
    justify-content: center;
    align-items: start;
    padding: 2vw;
    background-color: #f0f0f0;
}

.stats {
    display: block;
    justify-content: space-between;
    margin: 3vw;
    padding: 1vw;
    border-radius: 10px;
    border: 2px solid grey;
}

.program {
    border: 2px solid grey;
}

    </style>
</head>

<body>

{% for appliance_name, programs in appliances.items %}
<div class="stats">
    <div>
        <strong>Appliance:</strong> <span id="name">{{ appliance_name }}</span>
    </div>
    {% for program in programs %}
        <div class="program">
            <div>
                <strong>Program:</strong> <span id="program">{{ program.program_name }}</span>
            </div>
            <div>
                <strong>From:</strong> <span id="from_dt">{{ program.from_dt | date:"Y-m-d H:i:s"}}</span>
            </div>
            <div>
                <strong>To:</strong> <span id="to_dt">{{ program.to_dt | date:"Y-m-d H:i:s"}}</span>
            </div>
            <div>
                <strong>Average price:</strong> <span id="price">{{ program.price | floatformat:3}} kr/kWh</span>
            </div>
            <div>
                <strong>Suboptimal Price Multiplier:</strong> <span id="suboptimal_price_multiplier">{{ program.suboptimal_price_multiplier | floatformat:3}}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endfor %}

</body>


</html>
