{% extends 'web/base.html' %}

{% block title %}Optimal power time calculator{% endblock %}

{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body, html {
        height: 100%;
        display: block;
        justify-content: center;
        align-items: start;
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }

    .programs-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1vw;
    }

    .program {
        border: 2px solid #ccc;
        padding: 1vw;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .program-link {
        text-decoration: none;
        color: inherit;
        display: block;
    }

    h2 {
        color: #333;
    }

    .program strong {
        color: #555;
    }
</style>

{% if error_message %}
<div class="error-message">
    {{ error_message }}
</div>
{% endif %}

{% for appliance_data in appliances %}
    {% url 'appliance_overview' appliance_data.appliance.id as appliance_url %}
    <h2>
        <a href="{{ appliance_url }}">
            {{ appliance_data.appliance.name }}
        </a>
    </h2>
    <div class="programs-container">
    {% for program_data in appliance_data.programs %}
        <a
            class="program-link"
            href="{{ appliance_url }}?program_id={{ program_data.program_id }}"
        >
            <div class="program">
            <div>
                <strong>Program:</strong>
                <span id="program">{{ program_data.program.program_name }}</span>
            </div>
            <div>
                <strong>Should run: </strong>From <span id="from_dt">
                {% if program_data.program.from_datetime.date != program_data.program.to_datetime.date %}
                    {{ program_data.program.from_datetime | date:"Y-m-d H:i"}}
                {% elif program_data.program.from_datetime.date != today %}
                    {{ program_data.program.from_datetime | date:"Y-m-d H:i"}}
                {% else %}
                    {{ program_data.program.from_datetime | date:"H:i"}}
                {% endif %}
                </span> to <span id="to_dt">
                {% if program_data.program.from_datetime.date != program_data.program.to_datetime.date %}
                    {{ program_data.program.to_datetime | date:"Y-m-d H:i"}}
                {% elif program_data.program.to_datetime.date != today %}
                    {{ program_data.program.to_datetime | date:"Y-m-d H:i"}}
                {% else %}
                    {{ program_data.program.to_datetime | date:"H:i"}}
                {% endif %}
                </span>
            </div>
            <div>
                <strong>Hours to start:</strong>
                <span id="hours_to_start">
                    {{ program_data.program.hours_to_start | floatformat:2 }}
                </span>
            </div>
            <div>
                <strong>Average price:</strong>
                <span id="price">
                    {{ program_data.program.price | floatformat:3}} kr/kWh
                </span>
            </div>
            <div>
                <strong>Suboptimal Price Multiplier:</strong>
                <span id="suboptimal_price_multiplier">
                    {{ program_data.program.suboptimal_price_multiplier | floatformat:3}}
                </span>
            </div>
            </div>
        </a>
    {% endfor %}
    </div>
{% endfor %}
{% endblock %}
